<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <p>
        <input type="hidden" name="id" value="{{ publisher_obj.id }}">
    </p>
    <p>
        <label>出版社名称</label><input type="text" name="uname" value="{{ publisher_obj.name }}">
    </p>
    <p>
        <label>出版社地址</label><input type="text" name="address" value="{{ publisher_obj.address }}">
    </p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>
</body>
</html>