<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <p>
        <input type="hidden" name="id" value="{{ author_obj.id }}">
    </p>
    <p>
        <label>作者</label><input type="text" name="name" value="{{ author_obj.name }}">
    </p>
    <p>
        <label>书名</label>
        <select id="books" name="books">
            {% for book_obj in book_obj_list %}
                 <option value="{{ book_obj.bid }}">{{ book_obj.bname }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <input type="submit" value="提交">
    </p>

</form>
</body>
</html>